.container-aboutme {
  width: 90%;
  display: flex;
  background: rgba(36, 50, 77, 0.157);
  border-radius: 15px;
  border: 1px solid rgba(36, 50, 77, 0.278);
  margin: 40px auto;
  padding: 15px;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.container-aboutme:hover {
  background: rgba(36, 50, 77, 0.264);
}

.container-aboutme:hover .txt-aboutme {
  color: var(--text-color);
}

.container-aboutme .txt-aboutme {
  color: var(--secondary-color);
}
