---
import { getCollection } from "astro:content";
import MainLayout from "@/layouts/MainLayout.astro";
import Header from "@/components/Header.astro";
import NavigationBar from "@/components/NavigationBar.astro";
import CardProject from "@/components/CardProject.astro";
import AboutMe from "@/components/AboutMe.astro";
import Skils from "@/components/Skils.astro";
import Experience from "@/components/Experience.astro";
import Footer from "@/components/Footer.astro";
const projects = await getCollection("project");
---

<MainLayout title="David Sepulveda">
  <NavigationBar />
  <div class="content">
    <section id="about-me">
      <Header />
      <AboutMe />
    </section>

    <section id="skils">
      <p class="title-section"><span>Habilidades</span></p>
      <Skils />
    </section>

    <section id="experience">
      <p class="title-section"><span>Experiencia</span></p>
      <Experience />
    </section>

    <section id="projects">
      <p class="title-section"><span>Proyectos</span></p>
      <div class="projects">
        {
          projects.map((project) => (
            <CardProject {...project.data} slug={project.slug} />
          ))
        }
      </div>
    </section>
  </div>
  <Footer />
</MainLayout>

<script>
  let body = document.querySelector("body") as HTMLElement;
  let footer = document.querySelector("footer") as HTMLElement;

  body.addEventListener("mousemove", (e) => {
    let x = e.pageX - body.offsetLeft;
    let y = e.pageY - body.offsetTop;

    if (!footer.contains(e.target as Node)) {
      body.style.setProperty("--x", x + "px");
      body.style.setProperty("--y", y + "px");
    } else {
      body.style.setProperty("--x", "0");
      body.style.setProperty("--y", "0");
    }
  });

  body.addEventListener("mouseleave", () => {
    body.style.setProperty("--x", "0");
    body.style.setProperty("--y", "0");
  });
</script>
