---
import "@/styles/aboutme.css";
---


<div class="container-aboutme">
    <p class="txt-aboutme">
        Mi carrera en el ámbito de la programación comenzó en 2020 cuando decidí estudiar Ingeniería de Sistemas e Informática. Desde entonces, he tenido la oportunidad de explorar este fascinante y diverso mundo, dedicando gran parte de mi tiempo a profundizar en el desarrollo web, una de las áreas que más me apasionan. 
    </p>
</div>