---
import "@/styles/footer.css";
import Mail from "@/icons/mail.astro";
import GitHub from "@/icons/github.astro";
import Linkedin from "@/icons/linkedin.astro";
---

<footer class="footer">
  <div class="text-footer">
    <p>Desarrollador web - DavidSepúlvedaCh</p>
  </div>
  <div class="footer-icons">
    <a href="mailto:sdavidleonardo01@gmail.com"><Mail /></a>
    <a
      href="https://www.linkedin.com/in/david-leonardo-sep%C3%BAlveda-21303a255/"
      target="_blank"
      aria-label="LinkedIn"
    >
      <Linkedin class="icon" />
    </a>
    <a
      href="https://github.com/DavidSepulvedaCh"
      target="_blank"
      aria-label="GitHub"
    >
      <GitHub class="icon" />
    </a>
  </div>
</footer>
